h1{
    text-align: center;
    color: darkblue;
}

h2{
    font-size: 40px;
}
#heading1{
    text-align: center;
    background-color: lightgrey;
    color: darkblue;
    font-size: 40px;
}
.paragraph{
    font-weight: bold;
  font-style: italic;
}
#vip{
    background-color: violet;
    display: flex;
    padding: 40px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
}
#vip:hover{
    background-color: purple;
    color: white;
}
#surprises {
  display: flex;
    
}
img{
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}
#surprises img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#surprises button{
    border-radius: 20px;
    background-color: lightblue;
    height: 30px;
    color: red;
}
.cars{
display: flex;
justify-content: space-between;
margin-left: 30px;
text-align: left;
padding-left: 20px;
}
#head{
text-align: left;
color: black;
font-weight: bold;
}
#Taxi h1,
#Taxi img,
#Taxi ul {
margin-left: 0;
padding-left: 0; 
font-size: 20px;
}

#Taxi ul li {
margin-left: 20px; 
margin-bottom: 8px;

}
#Economy h1,
#Economy img,
#Economy ul {
margin-left: 0;   
padding-left: 0;  
font-size: 20px;   
}

#Economy ul li {
  margin-left: 20px;   
  margin-bottom: 8px;
}
#Business h1,
#Business img,
#Business ul {
margin-left: 0;   
padding-left: 0;   
font-size: 20px;
}

#Business ul li {
margin-left: 20px; 
margin-bottom: 8px;
 
}